<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <!-- Sidebar Header -->
    <mat-toolbar color="primary">
      <span>Front-end työkalut</span>
    </mat-toolbar>

    <!-- Navigation List -->
    <mat-nav-list>
      <!-- Give Feedback Section -->
      <mat-list-item (click)="toggleFeedback()" class="nav-item">
        <mat-icon matListItemIcon>feedback</mat-icon>
        <span matListItemTitle>Give Feedback</span>
        <mat-icon *ngIf="feedbackExpanded">expand_less</mat-icon>
        <mat-icon *ngIf="!feedbackExpanded">expand_more</mat-icon>
      </mat-list-item>

      <!-- Template driven form submenu -->
      <div *ngIf="feedbackExpanded">
        <mat-list-item routerLink="/feedback" class="submenu-item">
          <mat-icon matListItemIcon>format_list_bulleted</mat-icon>
          <span matListItemTitle>Template driven form</span>
        </mat-list-item>
      </div>

      <mat-divider></mat-divider>

      <!-- Other Navigation Items -->
      <mat-list-item routerLink="/form" class="nav-item">
        <mat-icon matListItemIcon>dynamic_form</mat-icon>
        <span matListItemTitle>Reactive form</span>
      </mat-list-item>

      <mat-list-item routerLink="/calculator" class="nav-item">
        <mat-icon matListItemIcon>calculate</mat-icon>
        <span matListItemTitle>Calculator</span>
      </mat-list-item>

      <mat-list-item routerLink="/" class="nav-item">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Home</span>
      </mat-list-item>

      <mat-list-item routerLink="/hello" class="nav-item">
        <mat-icon matListItemIcon>waving_hand</mat-icon>
        <span matListItemTitle>Hello World</span>
      </mat-list-item>

      <!-- NEW: Countries API Item -->
      <mat-list-item routerLink="/countries" class="nav-item">
        <mat-icon matListItemIcon>flag</mat-icon>
        <span matListItemTitle>Countries API</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content Area -->
  <mat-sidenav-content>
    <div class="content-area">
      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
      <footer class="footer">
        <p>© 2024 Angular Sovellus</p>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>