.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background-color: #fafafa;
}

.nav-item {
  cursor: pointer;
}

.submenu-item {
  padding-left: 40px !important;
  background-color: #f5f5f5;
}

.mat-divider {
  margin: 10px 0;
}