// Import Angular Material theming
@use '@angular/material' as mat;

// Include core styles
@include mat.core();

// Define a light theme
$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$pink-palette),
    warn: mat.define-palette(mat.$red-palette),
  )
));

// Apply the light theme
@include mat.all-component-themes($light-theme);